/*
 * Colors are from https://www.s-ings.com/scratchpad/oklch-smooth/
 */

$A10: #fce9ec;
$A20: #ffd2da;
$A30: #ffb7c5;
$A40: #ff93ab;
$A50: #fc6e91;
$A60: #e74b77;
$A70: #be2f5c;
$A80: #911541;
$A90: #5a0023;
$B10: #fde9e7;
$B20: #fed4d0;
$B30: #ffb9b4;
$B40: #ff9793;
$B50: #ff6c6f;
$B60: #ed4752;
$B70: #c7263a;
$B80: #970823;
$B90: #5c0010;
$C10: #feeae3;
$C20: #ffd4c4;
$C30: #ffbba1;
$C40: #ff9b76;
$C50: #fc784a;
$C60: #e45729;
$C70: #be3c0f;
$C80: #8e2500;
$C90: #551400;
$D10: #ffecdb;
$D20: #ffdcb9;
$D30: #ffc587;
$D40: #ffaa4a;
$D50: #fa9016;
$D60: #e17900;
$D70: #b66000;
$D80: #7d4200;
$D90: #472500;
$E10: #feedc6;
$E20: #ffe197;
$E30: #ffd158;
$E40: #fdc215;
$E50: #edaf00;
$E60: #cb9300;
$E70: #9e7100;
$E80: #6d4d00;
$E90: #3d2a00;
$F10: #eef2d4;
$F20: #e3ed9f;
$F30: #d4e360;
$F40: #c1d126;
$F50: #aab900;
$F60: #8e9b00;
$F70: #6f7900;
$F80: #4f5600;
$F90: #2d3100;
$G10: #e1f5d8;
$G20: #caf1b9;
$G30: #a7e788;
$G40: #87d65d;
$G50: #6dbe3d;
$G60: #57a126;
$G70: #418014;
$G80: #2d5c0a;
$G90: #163700;
$H10: #e0f5e5;
$H20: #c5eecf;
$H30: #96e4ad;
$H40: #5ed78a;
$H50: #2ec06d;
$H60: #1ca25a;
$H70: #148046;
$H80: #105d32;
$H90: #07371c;
$I10: #d9f6ed;
$I20: #b7eede;
$I30: #78e5c9;
$I40: #33d6b3;
$I50: #00bc9a;
$I60: #169e81;
$I70: #0b7e66;
$I80: #065b49;
$I90: #00372b;
$J10: #d7f5f6;
$J20: #b0eef0;
$J30: #70e3e8;
$J40: #33d1d8;
$J50: #1db8bf;
$J60: #0f9aa1;
$J70: #0a7a80;
$J80: #05595e;
$J90: #003538;
$K10: #daf4ff;
$K20: #b9eafe;
$K30: #84dcfe;
$K40: #4dcbf6;
$K50: #09b5e3;
$K60: #069ac2;
$K70: #077a9b;
$K80: #065871;
$K90: #003344;
$L10: #e3f1fe;
$L20: #c3e3ff;
$L30: #9fd4ff;
$L40: #6fc1ff;
$L50: #3aadfc;
$L60: #0391e6;
$L70: #0073c1;
$L80: #005391;
$L90: #002f56;
$M10: #e8eeff;
$M20: #d7e1fe;
$M30: #bdcefe;
$M40: #a0b8ff;
$M50: #7f9dff;
$M60: #6381f8;
$M70: #4a62d4;
$M80: #32449c;
$M90: #1e2959;
$N10: #f1ebff;
$N20: #e6dbff;
$N30: #d7c5fe;
$N40: #c6a9ff;
$N50: #b48aff;
$N60: #9c6bed;
$N70: #7f50ca;
$N80: #5d3996;
$N90: #361c5c;
$O10: #fce7fc;
$O20: #fbd1fb;
$O30: #f9b1fb;
$O40: #f190f5;
$O50: #e171e7;
$O60: #c458cb;
$O70: #a13da7;
$O80: #79237f;
$O90: #4c0452;
$P10: #fee8f2;
$P20: #fcd3e6;
$P30: #ffb4d9;
$P40: #ff8ac8;
$P50: #f668b6;
$P60: #dc4d9e;
$P70: #b82f7f;
$P80: #8c145d;
$P90: #580037;
$Z10: #eaf0f5;
$Z20: #d8e1e9;
$Z30: #c1cdd8;
$Z40: #a9b8c6;
$Z50: #8fa1b2;
$Z60: #74889b;
$Z70: #5b6c7c;
$Z80: #414e5a;
$Z90: #262f37;