@use "colors";

header {
  $logo-size: 100px;

  line-height: $logo-size;
  margin-bottom: 1em;

  img {
    width: $logo-size;
    height: $logo-size;
    display: inline-block;
    filter: drop-shadow(3px 4px 0px rgba(0, 0, 0, 0.1));
  }

  h1 {
    display: inline-block;
    margin-left: 20px;
    color: colors.$oc-blue-9;
    font-weight: 800;
    font-size: 2.5em;
  }

  #shoebill-version {
    color: colors.$oc-gray-6;
    margin-left: 10px;
    font-size: 0.8rem;
  }

  div {
    float: right;
    color: colors.$oc-gray-4;
    user-select: none;
  }

  #refresh-data,
  #request-new-build {
    color: colors.$oc-gray-7;
    margin: 0 1.2em;

    svg {
      width: 26px;
      height: 26px;
      color: colors.$oc-gray-5;
      margin-right: 5px;
      position: relative;
      top: -1px;
      stroke-width: 1.3px;
    }
  }

  #refresh-data.active {
    cursor: wait;

    svg {
      animation-name: spin;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @keyframes spin {
        from {
          transform: rotate(360deg);
        }
        to {
          transform: rotate(0deg);
        }
      }
    }
  }
}
