@import "sanitize";
@import "colors";
@import "font";

html {
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
}

#main-width {
  width: 80%;
  min-width: 800px;
  max-width: 1600px;
  margin: 0 auto;
}

a,
.clickable {
  cursor: pointer;
  text-decoration: underline #88aac9;
  text-decoration-skip: leading-spaces trailing-spaces objects;
}


@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}

@import "header";
@import "form";
@import "logs";
@import "footer";
@import "notifications";