@use "sanitize";
@use "colors";
@use "font";
@use "utils";

@use "header";
@use "form";
@use "logs";
@use "footer";
@use "notifications";

html {
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
}

#main-width {
  width: 80%;
  min-width: 800px;
  max-width: 1600px;
  margin: 0 auto;
}

a,
.clickable {
  cursor: pointer;
  @include utils.text-decoration;
  color: inherit;
}


@media screen and (max-width: 1400px) {
  #main-width {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
  #main-width {
    width: 94%;
  }
}
