@import "sanitize";
@import "colors";
@import "font";

html {
  font-size: 16px;
  font-family: 'Assistant', sans-serif;
}

#main-width {
  width: 80%;
  min-width: 800px;
  max-width: 1600px;
  margin: 0 auto;
}

@import "header";
@import "logs";
@import "footer";
@import "notifications";