@use "colors";
@use "utils";

$block-border-radius: 10px;
$intercol-space: 10px;
$status-width: 5px;

.log-day-wrapper {
  display: flex;
  align-items: stretch; // Stretch the children to the same height
  margin-bottom: 20px;

  .day {
    background: colors.$oc-gray-0;
    border-radius: $block-border-radius;
    padding: 20px 0 0 20px;
    width: 10%;

    .date {
      color: colors.$oc-gray-8;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1;
    }

    .day-name {
      color: colors.$oc-gray-5;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .logs {
    width: 90%;
  }
}

.log {
  border-radius: $block-border-radius;
  border: 1px solid colors.$oc-gray-3;
  padding: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  flex: 5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  transition: border-color 0.2s, color 0.2s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: colors.$oc-blue-2;

    .switchy {
      color: colors.$oc-blue-5;
      background: colors.$oc-gray-1;
    }
  }

  .summary {
    $summary-height: 50px;

    $time-width: 120px;
    $col2-width: 1fr;
    $col3-width: 270px;
    $col4-width: 120px;
    $actions-width: $summary-height;

    width: 100%;
    height: $summary-height;
    display: flex;
    align-items: stretch; // Stretch the children to the same height


    .status {
      border-radius: 2px;
      width: $status-width;
      margin-right: $intercol-space;
      user-select: none;

      &.success {
        background: colors.$oc-green-7;
      }

      &.error {
        background: colors.$oc-red-7;
      }
    }

    .time {
      width: $time-width;
      min-width: $time-width;
      margin-right: $intercol-space;
      text-align: center;
      font-weight: 800;
      font-size: 1.5rem;
      color: colors.$oc-gray-5;
      line-height: $summary-height;
      letter-spacing: 1px;
    }

    .col2 {
      flex: 1 1;
      margin-right: $intercol-space;
      line-height: 1.7;
      max-width: calc(100% - #{$status-width + $time-width + $col3-width + $col4-width + $actions-width + $intercol-space * 3});
    }

    .col3 {
      width: $col3-width;
      min-width: $col3-width;
      line-height: 1.7;
      color: colors.$oc-gray-8;

      .icon {
        margin-right: 5px;
        vertical-align: text-bottom;
      }
    }

    .col4 {
      width: $col4-width;
      min-width: $col4-width;
      line-height: 1.7;
      color: colors.$oc-gray-8;

      .icon {
        margin-right: 5px;
        vertical-align: text-bottom;
      }
    }

    .actions {
      width: $actions-width;
      min-width: $actions-width;

      .switchy {
        width: $actions-width;
        height: $actions-width;
        cursor: pointer;
        stroke-width: 1;
        transition: color 0.2s, background-color 0.2s;
        border-radius: 6px;
      }
    }

    .package-id {
      @include utils.text-overflow-ellipsis;
    }

    .repository {
      display: inline-block;
      text-decoration: none;
      color: colors.$oc-gray-5;
      @include utils.text-overflow-ellipsis;

      .flag {
        width: 20px;
        height: 15px;
        margin-right: 6px;
        display: inline-block;
        border-radius: 2px;
        overflow: hidden;
        background: colors.$oc-gray-1;
        vertical-align: middle;
        position: relative;

        svg {
          vertical-align: top;
          border: 1px solid colors.$oc-gray-4;
          border-radius: 2px;
          width: 100%;
          height: 100%;
        }
      }

      span {
        color: colors.$oc-gray-7;
        @include utils.text-decoration;
      }

      span:nth-child(2) {
        margin-right: 4px;
      }

      span:nth-child(3) {
        font-weight: 600;
        margin-left: 4px;
      }
    }

    .branch {
      max-width: 100%;
      @include utils.text-overflow-ellipsis;
    }

    .request-rebuild {
      cursor: pointer;
    }

    .link-preview,
    .link-failure-logs {
      display: block;
    }

    .link-failure-logs .icon {
      color: colors.$oc-red-2;
    }
  }

  .details {
    display: none;
    border-top: 1px solid colors.$oc-gray-2;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 1.7;

    .col1 {
      width: 80%;
      display: inline-block;
      vertical-align: top;
    }

    .col2 {
      width: 19%;
      display: inline-block;
    }

    .name,
    .title,
    .url {
      color: colors.$oc-gray-5;

      span,
      a {
        color: colors.$oc-gray-7;
        margin-left: 10px;

        &:empty::after {
          content: "no value";
          color: colors.$oc-gray-5;
          font-style: italic;
        }
      }
    }

    .fhir-version,
    .error-count,
    .warning-count,
    .link-qa {
      color: colors.$oc-gray-7;

      .icon {
        margin-right: 5px;
      }
    }

    .fhir-version .icon {
      color: colors.$oc-blue-6;
    }

    .error-count .icon {
      color: colors.$oc-red-5;
    }

    .warning-count .icon {
      color: colors.$oc-yellow-5;
    }

    .link-qa .icon {
      color: colors.$oc-gray-5;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    color: colors.$oc-gray-3;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &.switchy-open {
    box-shadow: 5px 6px 9px rgb(175 188 204 / 10%);

    .switchy {
      rotate: 90deg;
    }

    .details {
      display: block;
    }

    .icon {
      color: colors.$oc-gray-5;
    }
  }
}

@media screen and (max-width: 1000px) {
  .log-day-wrapper {
    margin-bottom: 10px;

    .day {
      padding: 12px 0 0 8px;

      .date {
        font-size: 1.5rem;
      }

      .day-name {
        font-size: 1.2rem;
      }
    }
  }
  .log {
    margin-left: 10px;
    padding: 6px 8px;

    .summary {
      $summary-height: 40px;
      height: $summary-height;

      $time-width: 80px;
      $col3-width: 170px;
      $col4-width: 95px;
      $actions-width: 30px;


      .time {
        width: $time-width;
        min-width: $time-width;
        line-height: $summary-height;
        letter-spacing: revert;
        font-weight: 700;
      }

      .col2 {
        max-width: calc(100% - #{$status-width + $time-width + $col3-width + $col4-width + $actions-width + $intercol-space * 3});
        line-height: 1.5;
      }

      .col3 {
        width: $col3-width;
        min-width: $col3-width;
        line-height: 1.5;

        .icon {
          margin-right: 3px;
        }
      }

      .col4 {
        width: $col4-width;
        min-width: $col4-width;
        line-height: 1.5;

        .icon {
          margin-right: 3px;
        }
      }

      .actions {
        width: $actions-width;
        min-width: $actions-width;

        .switchy {
          width: $actions-width;
          height: $actions-width;
          margin-top: 5px;
        }
      }
    }
  }
}