@use "colors";

#notifications {
  z-index: 10;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 350px;
}

.notification {
  $icon-size: 22px;

  border-style: solid;
  border-width: 0 0 0 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em 1em 1em 0.4em;
  margin-top: 1em;

  svg.close {
    float: right;
    color: colors.$oc-gray-6;
    height: 26px;
    width: 26px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.4em;

    svg {
      width: $icon-size;
      height: $icon-size;
      margin-right: 0.4em;
    }
  }

  p {
    margin: 0 0 0 calc(0.4em + #{$icon-size});
  }

  &.error {
    border-color: colors.$oc-red-7;
    background: colors.$oc-red-1;

    h4 {
      color: colors.$oc-red-7;

      svg {
        color: colors.$oc-red-5;
      }
    }
  }

  &.success {
    border-color: colors.$oc-green-5;
    background: colors.$oc-green-0;

    h4 {
      color: colors.$oc-green-8;

      svg {
        color: colors.$oc-green-6;
      }
    }
  }

  &.info {
    border-color: colors.$oc-blue-8;
    background: colors.$oc-blue-0;

    h4 {
      color: colors.$oc-blue-8;

      svg {
        color: colors.$oc-blue-6;
      }
    }
  }

  &.warning {
    border-color: colors.$oc-orange-6;
    background: colors.$oc-orange-0;

    h4 {
      color: colors.$oc-orange-8;

      svg {
        color: colors.$oc-yellow-6;
      }
    }
  }
}